{% extends 'base.html' %}

{% block content %}
<div class="container">
    This is home.
    <a href="/user/login/">Login</a>
    {% if user.is_authenticated %}
    <p>Welcome, {{ user.username }}. Thanks for logging in.</p>
    <form action="/user/logout/" method="POST">
        {% csrf_token %}
        <button type="submit">Log Out</button>
    </form>
    <button><a href="/admin/">Admin</a></button>
    <button><a href="/user/register_driver/">register_driver</a></button>

    <button><a href="/test/">for test only</a></button>

    <button><a href="/request_ride/">user: request_ride</a></button>

    <button><a href="/ride_list/">user: rides list</a></button>
    <button><a href="/driver/ride_list/">driver: ride_list</a></button>


    {% else %}
    <p>Welcome, new user. Please log in.</p>
    {% endif %}


</div>
{% endblock content %}