{% extends 'base.html' %}

{% block content %}
<div class="container">
    <a href="/request_ride/">Request Ride</a>
    {% if user.is_authenticated %}
    {% include 'alerts.html' %}
    <form action="/request_ride/" method="POST">
        {% csrf_token %}
        <div class="form-floating mb-3">
            <input
                    type="text"
                    class="form-control"
                    id="destination"
                    name="destination"
                    value="{{form.destination}}"
                    required
            />
            <label for="destination">Destination</label>
        </div>
        <div class="form-floating mb-3">
            <input
                    type="datetime-local"
                    class="form-control"
                    id="arrive_time"
                    name="arrive_time"
                    value="{{form.arrive_time}}"
                    required
            />
            <label for="arrive_time">Arrive Time</label>
        </div>
        <div class="form-floating mb-3">
            <input
                    type="number"
                    class="form-control"
                    id="required_passengers_num"
                    name="required_passengers_num"
                    value="{{form.required_passengers_num}}"
                    required
            />
            <label for="required_passengers_num">Passengers Number</label>
        </div>
        <div class="form-floating mb-3">
            <input
                    type="text"
                    class="form-control"
                    id="vehicle_type"
                    name="vehicle_type"
                    value="{{form.vehicle_type}}"
            />
            <label for="vehicle_type">Vehicle Type (Optional)</label>
        </div>
        <div class="form-check mb-3">
            <input
                    class="form-check-input"
                    type="checkbox"
                    value="{{form.can_be_shared}}"
                    id="can_be_shared"
            />
            <label class="form-check-label" for="can_be_shared">
                <span>Share with others?</span>
            </label>
        </div>
        <div class="form-floating mb-3">
            <textarea
                    class="form-control"
                    id="special_request"
                    name="special_request">
                {{form.special_request}}
            </textarea>

            <label for="special_request">Special Request (Optional)</label>
        </div>


        <div class="d-grid">
            <button
                    class="btn btn-primary btn-login text-uppercase fw-bold"
                    type="submit"
            >
                Register
            </button>
        </div>

        <hr class="my-4"/>
        <!-- <div class="d-grid mb-2">
                                        <button class="btn btn-google btn-login text-uppercase fw-bold"
                                            type="submit">
                                            <i class="fab fa-google me-2"></i> Sign in with Google
                                        </button>
                                    </div>
                                    <div class="d-grid">
                                        <button class="btn btn-facebook btn-login text-uppercase fw-bold"
                                            type="submit">
                                            <i class="fab fa-facebook-f me-2"></i> Sign in with Facebook
                                        </button>
                                    </div> -->
    </form>

    {% else %}
    <div class="alert alert-danger" role="alert">Your account doesn't have access to this page. To proceed,
        please login with an account that has access.
    </div>
    {% endif %}


</div>
{% endblock content %}