{% extends 'base.html' %}


{% block content %}

    <h2>Ride Details</h2>
    <p>Id: {{ride_obj.id}} </p>
    <p>Destination: {{ ride_obj.destination }} </p>
    <p>Current Number:{{ ride_obj.current_passengers_num }} </p>
    <p>Vehicle Type:{{ driver_obj.vehicle_type }} </p>
    <p>Plate Number:{{ driver_obj.plate_num }} </p>
    <p>Is sharable:{{ ride_obj.can_be_shared }}</p>

{#    <button><a href="/user/editprofile/">Edit</a></button>#}
{#    {% if user.is_driver %}#}
{#        <button><a href="/user/driverprofile/">View Driver Info</a></button>#}
{#    {% else %}#}
{#        <button><a href="/user/register_driver/">register_driver</a></button>#}
{#    {% endif %}#}

{% endblock content %}