{% extends 'base.html' %}


{% block content %}

    <h2>User Profile</h2>
    <p>UserName: {{ user_data.username}} </p>
    <p>User Email: {{ user_data.email }} </p>
    <p>User LastName:{{ user_data.last_name }} </p>
    <p>User FirstName:{{ user_data.first_name }} </p>

    <button><a href="/user/editprofile/">Edit</a></button>
    {% if user.is_driver %}
        <button><a href="/user/driverprofile/">View Driver Info</a></button>
    {% else %}
        <button><a href="/user/register_driver/">register_driver</a></button>
    {% endif %}

{% endblock content %}
