{% extends 'base.html' %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
            <div class="card border-0 shadow rounded-3 my-5">
                <div class="card-body p-4 p-sm-5">
                    <h5 class="card-title text-center mb-5 fw-light fs-5">Please enter your vehicle info to sign up</h5>
                    {% include 'alerts.html' %}
                    <form action="/user/register_driver/" method="POST">
                        {% csrf_token %}
                        <div class="form-floating mb-3">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="vehicle_type"
                                    name="vehicle_type"
                                    value="{{form.vehicle_type}}"
                                    required
                            />
                            <label for="vehicle_type">Vehicle Type</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="plate_num"
                                    name="plate_num"
                                    value="{{form.plate_num}}"
                                    required
                            />
                            <label for="plate_num">Plate Number</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                    type="number"
                                    class="form-control"
                                    id="max_capacity"
                                    name="max_capacity"
                                    required
                            />
                            <label for="max_capacity">Max Capacity</label>
                        </div>
                        <div class="form-floating mb-3">
                            <input
                                    type="text"
                                    class="form-control"
                                    id="special_info"
                                    name="special_info"

                            />
                            <label for="special_info">Special Info</label>
                        </div>

                        <p>
                            By creating an account you agree to our
                            <a href="#">Terms & Privacy</a>.
                        </p>
                        <div class="d-grid">
                            <button
                                    class="btn btn-primary btn-login text-uppercase fw-bold"
                                    type="submit"
                            >
                                Register As Driver
                            </button>
                        </div>
                        <!--<div class="d-grid">-->
                            <!--<p>Already have an account?<a href="/user/login/">Login</a></p>-->
                        <!--</div>-->
                        <hr class="my-4"/>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}